{% extends 'blockNewBg.html' %}

{% block subcontent %}
<div class="card-body text-center">
    <h4 class="card-title">Total Matches Together</h4>
    <h4 class="card-title">"25"</h4>

</div>

<div class="card-body text-center">
    <h4 class="card-title">Key Players</h4>
    <div id="container" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["SK Raina", 3],
                ["MS Dhoni", 3],
                ["V kohli", 2],
                ["RA Jadeja", 2],
                ["AB de Villiers", 1],
                ["RD Gaikwad", 1],
                ["RV Uthappa", 1],
                ["F du Plessis", 1]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Player");
            chart.yAxis().title("Points");

            // set the container id
            chart.container("container");

            // initiate drawing the chart
            chart.draw();
        });
    </script>

</div>

<div class="card-body text-center">
    <h4 class="card-title">Toss Match Win Count</h4>
    <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Toss Match Win Count</th>
            <td>"43"</td>
        </tr>
    </table>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Toss Match Win Decision</h4>
    <div id="containerToss" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
          var chart = anychart.pie3d([
            ['Fielding', 39],
            ['Batting', 4]
          ]);
    
          // set chart title text settings
          chart
            .title('Population in The Shire')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerToss');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Toss Match Win Decision</th>
            <td>{% for table in tables3 %}
                {{titles3[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Batsman in {{team1}}</h4>
    <div id="containerTopBat1" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
          var chart = anychart.pie3d([
            ['V Kohli ', 2346],
            ['AB de Villiers', 1894],
            ['Sachin Baby', 59],
            ['Washington Sundar', 58],
            ['YS Chahal', 9],
            ['DT Christian', 4],
            ['Mohammed Siraj', 1],
            ['NA Saini', 0]
          ]);
    
          // set chart title text settings
          chart
            .title('Top batsman')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerTopBat1');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Batsman in {{team1}}</th>
            <td>{% for table in tables5 %}
                {{titles5[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Bowler in {{team1}}</h4>
    <div id="containerBowl1" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["YS Chahal", 51],
                ["Mohammed Siraj", 9],
                ["NA Saini", 9],
                ["Washington Sundar", 6],
                ["Sachin Baby", 2],
                ["V Kohli", 1]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Bowler");
            chart.yAxis().title("Wickets");

            // set the container id
            chart.container("containerBowl1");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Bowler in {{team1}}</th>
            <td>{% for table in tables6 %}
                {{titles6[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Batsman in {{team2}}</h4>
    <div id="containerTopBat2" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
        //   anychart.theme('darkEarth');
          var chart = anychart.pie3d([
            ['MS Dhoni', 426],
            ['SK Raina', 132],
            ['AT Rayudu', 111],
            ['F du Plessis', 92],
            ['DJ Bravo', 73],
            ['RA Jadeja', 30]
          ]);
    
          // set chart title text settings
          chart
            .title('Population in The Shire')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerTopBat2');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Batsman in {{team2}}</th>
            <td>{% for table in tables7 %}
                {{titles7[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Bowler in {{team2}}</h4>
    <div id="containerBowl2" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["DJ Bravo", 8],
                ["RA Jadeja", 5],
                ["Imran Tahir", 3],
                ["SN Thakur", 2],
                ["DL Chahar", 2]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Bowler");
            chart.yAxis().title("Wickets");

            // set the container id
            chart.container("containerBowl2");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Bowler in {{team2}}</th>
            <td>{% for table in tables8 %}
                {{titles8[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Match Win Decision</h4>
    <div id="containerMatch" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["Chennai Super Kings", 16],
                ["Royal Challengers Bangalore", 9]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Match Win Decision");

            // set the titles of the axes
            chart.xAxis().title("Winner");
            chart.yAxis().title("Count");

            // set the container id
            chart.container("containerMatch");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Match Win Decision</th>
            <td>{% for table in tables4 %}
                {{titles4[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>


<div class="card-body text-center">
    <h4 class="card-title">Run Rate</h4>
    <h4 class="card-title">"8.54"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">{{team1}} win percentage at {{venue}}</h4>
    <h4 class="card-title">"48"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">{{team2}} win percentage at {{venue}}</h4>
    <h4 class="card-title">"55"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Run Rate of {{team1}}</h4>
    <h4 class="card-title">"9.05"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Run Rate of {{team2}}</h4>
    <h4 class="card-title">"8.9"</h4>
</div>

{% endblock %}
