{% extends 'blockNewBg.html' %}

{% block subcontent %}
<div class="card-body text-center">
    <h4 class="card-title">Total Matches Together</h4>
    <h4 class="card-title">"5"</h4>

</div>

<div class="card-body text-center">
    <h4 class="card-title">Key Players</h4>
    <div id="container" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["PP Shaw", 1],
                ["S Dhawan", 1],
                ["F du Plessis", 1],
                ["MS Dhoni", 1],
                
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Player");
            chart.yAxis().title("Points");

            // set the container id
            chart.container("container");

            // initiate drawing the chart
            chart.draw();
        });
    </script>

</div>

<div class="card-body text-center">
    <h4 class="card-title">Toss Match Win Count</h4>
    <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Toss Match Win Count</th>
            <td>"38"</td>
        </tr>
    </table>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Toss Match Win Decision</h4>
    <div id="containerToss" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
          var chart = anychart.pie3d([
            ['Fielding', 23],
            ['Batting', 15]
          ]);
    
          // set chart title text settings
          chart
            .title('Population in The Shire')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerToss');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Toss Match Win Decision</th>
            <td>{% for table in tables3 %}
                {{titles3[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Batsman in {{team1}}</h4>
    <div id="containerTopBat1" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
          var chart = anychart.pie3d([
              ['S Dhawan', 236],
              ['SS Iyer', 232],
              ['PP Shaw', 193],
              ['RR Pant', 114],
              ['AR Patel', 76],
              ['K Rabada', 12],
              ['A Mishra', 6]

          ]);
    
          // set chart title text settings
          chart
            .title('Top batsman')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerTopBat1');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Batsman in {{team1}}</th>
            <td>{% for table in tables5 %}
                {{titles5[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Bowler in {{team1}}</h4>
    <div id="containerBowl1" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["K Rabada", 9],
                ["A Mishra", 9],
                ["I Sharma", 6],
                ["AR Patel", 5]

            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Bowler");
            chart.yAxis().title("Wickets");

            // set the container id
            chart.container("containerBowl1");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Bowler in {{team1}}</th>
            <td>{% for table in tables6 %}
                {{titles6[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Batsman in {{team2}}</h4>
    <div id="containerTopBat2" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
        //   anychart.theme('darkEarth');
          var chart = anychart.pie3d([
            ['SK Raina ', 271],
            ['MS Dhoni', 149],
            ['AT Rayudu', 55],
            ['RA Jadeja', 40],
            ['DJ Bravo	', 30],
            ['F du Plessis', 15],
            ['DL Chahar', 1]

          ]);
    
          // set chart title text settings
          chart
            .title('Population in The Shire')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerTopBat2');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Batsman in {{team2}}</th>
            <td>{% for table in tables7 %}
                {{titles7[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Bowler in {{team2}}</h4>
    <div id="containerBowl2" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["DJ Bravo", 7],
                ["RA Jadeja", 7],
                ["DL Chahar", 2],
                ["L Ngidi", 2],
                ["SN Thakur", 1],
                ["Imran Tahir", 1]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Bowler");
            chart.yAxis().title("Wickets");

            // set the container id
            chart.container("containerBowl2");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Bowler in {{team2}}</th>
            <td>{% for table in tables8 %}
                {{titles8[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Match Win Decision</h4>
    <div id="containerMatch" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["Chennai Super Kings", 3],
                ["Delhi Capitals", 2]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Match Win Decision");

            // set the titles of the axes
            chart.xAxis().title("Winner");
            chart.yAxis().title("Count");

            // set the container id
            chart.container("containerMatch");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Match Win Decision</th>
            <td>{% for table in tables4 %}
                {{titles4[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>


<div class="card-body text-center">
    <h4 class="card-title">Run Rate</h4>
    <h4 class="card-title">"8.11"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">{{team1}} win percentage at {{venue}}</h4>
    <h4 class="card-title">"57"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">{{team2}} win percentage at {{venue}}</h4>
    <h4 class="card-title">"75"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Run Rate of {{team1}}</h4>
    <h4 class="card-title">"7.808"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Run Rate of {{team2}}</h4>
    <h4 class="card-title">"8.175"</h4>
</div>

{% endblock %}