{% extends 'blockNewBg.html' %}

{% block subcontent %}
<div class="card-body text-center">
    <h4 class="card-title">Total Matches Together</h4>
    <h4 class="card-title">"13"</h4>

</div>

<div class="card-body text-center">
    <h4 class="card-title">Key Players</h4>
    <div id="container" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["B Kumar", 1],
                ["JD Unadkat", 1],
                ["R Tewatia", 1],
                ["Rashid Khan", 1],
                ["MK Pandey", 1],
                ["KS Williamson", 1]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Player");
            chart.yAxis().title("Points");

            // set the container id
            chart.container("container");

            // initiate drawing the chart
            chart.draw();
        });
    </script>

</div>

<div class="card-body text-center">
    <h4 class="card-title">Toss Match Win Count</h4>
    <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Toss Match Win Count</th>
            <td>"21"</td>
        </tr>
    </table>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Toss Match Win Decision</h4>
    <div id="containerToss" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
          var chart = anychart.pie3d([
            ['Fielding', 15],
            ['Batting', 6]
          ]);
    
          // set chart title text settings
          chart
            .title('Population in The Shire')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerToss');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Toss Match Win Decision</th>
            <td>{% for table in tables3 %}
                {{titles3[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Batsman in {{team1}}</h4>
    <div id="containerTopBat1" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
          var chart = anychart.pie3d([
              ['DA Warner', 1485],
              ['KS Williamson', 508],
              ['JM Bairstow', 357],
              ['MK Pandey ', 169],
              ['V Shankar', 79],
              ['WP Saha', 74],
              ['Rashid Khan', 43],
              ['Mohammad Nabi', 37],
              ['SP Goswami', 35],
              ['B Kumar', 27]

          ]);
    
          // set chart title text settings
          chart
            .title('Top batsman')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerTopBat1');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Batsman in {{team1}}</th>
            <td>{% for table in tables5 %}
                {{titles5[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Bowler in {{team1}}</h4>
    <div id="containerBowl1" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["B Kumar", 35],
                ["Rashid Khan", 28],
                ["Rashid Khan", 28],
                ["S Kaul", 28],
                ["Sandeep Sharma", 28],
                ["KK Ahmed", 28],
                ["Mohammad Nabi", 28],
                ["S Nadeem", 28],
                ["Basil Thampi", 28],
                ["Abhishek Sharma", 28],
                ["V Shankar", 28]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Bowler");
            chart.yAxis().title("Wickets");

            // set the container id
            chart.container("containerBowl1");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Bowler in {{team1}}</th>
            <td>{% for table in tables6 %}
                {{titles6[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Batsman in {{team2}}</h4>
    <div id="containerTopBat2" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>

        anychart.onDocumentReady(function () {
          // create pie chart with passed data
        //   anychart.theme('darkEarth');
          var chart = anychart.pie3d([
            ['SV Samson', 156],
            ['BA Stokes', 21],
            ['S Gopal', 18],
            ['JC Buttler', 11]
          ]);
    
          // set chart title text settings
          chart
            .title('Population in The Shire')
            // set chart radius
            .radius('43%');
    
          // set container id for the chart
          chart.container('containerTopBat2');
          // initiate chart drawing
          chart.draw();
        });
      
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Batsman in {{team2}}</th>
            <td>{% for table in tables7 %}
                {{titles7[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Top Bowler in {{team2}}</h4>
    <div id="containerBowl2" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["A Singh", 3],
                ["S Gopal", 3],
                ["JD Unadkat", 2],
                ["BA Stokes", 1]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Column Chart: Basic Sample");

            // set the titles of the axes
            chart.xAxis().title("Bowler");
            chart.yAxis().title("Wickets");

            // set the container id
            chart.container("containerBowl2");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Top Bowler in {{team2}}</th>
            <td>{% for table in tables8 %}
                {{titles8[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>

<div class="card-body text-center">
    <h4 class="card-title">Match Win Decision</h4>
    <div id="containerMatch" style="width: 50%; height: 400px; margin-left: 250px "></div>
    <script>
        anychart.onDocumentReady(function () {

            // create data
            var data = [
                ["Sunrisers Hyderabad", 7],
                ["Rajasthan Rouals", 6]
            ];

            // create a chart
            var chart = anychart.column();

            // create a column series and set the data
            var series = chart.column(data);

            // set the chart title
            chart.title("Match Win Decision");

            // set the titles of the axes
            chart.xAxis().title("Winner");
            chart.yAxis().title("Count");

            // set the container id
            chart.container("containerMatch");

            // initiate drawing the chart
            chart.draw();
        });
    </script>
    <!-- <table style="width:50%; margin-left: 25%;">
        <tr>
            <th>Match Win Decision</th>
            <td>{% for table in tables4 %}
                {{titles4[loop.index]}}
                {{ table|safe }}
                {% endfor %}</td>
        </tr>
    </table> -->
</div>


<div class="card-body text-center">
    <h4 class="card-title">Run Rate</h4>
    <h4 class="card-title">"7.89"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">{{team1}} win percentage at {{venue}}</h4>
    <h4 class="card-title">"68"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">{{team2}} win percentage at {{venue}}</h4>
    <h4 class="card-title">"7.728"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Run Rate of {{team1}}</h4>
    <h4 class="card-title">"8.09"</h4>
</div>

<div class="card-body text-center">
    <h4 class="card-title">Run Rate of {{team2}}</h4>
    <h4 class="card-title">"33"</h4>
</div>

{% endblock %}