<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IPL analysis tool</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <!-- <link rel="stylesheet" href="dist/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								<!-- <img class="header-logo-image" src="dist/images/logo.svg" alt="Logo"> -->
                                <img src="{{url_for('static',filename = 'images/logo.svg')}}" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">IPL pre-match Analysis</h1>
	                        <p class="hero-paragraph">Check tool on GitHub or run api from here.</p>
	                        <div class="hero-cta">
                                <a class="button button-primary" href="http://predict.iplprematchanalysis.in/" target="_blank">Predict</a>
                                <a class="button" href="/apiOptionPage" target="_blank">API</a>
                                <a class="button" href="https://github.com/darshanjain2000/IPL-fantasy-team" target="_blank">GitHub</a>
                            </div>
                            
                            <h1 class="hero-title mt-0">---------------------------</h1>
                            <h1 class="hero-title mt-0">WEB Tool</h1>
                            <form action="/analyze" method="POST">
                                <label for="team1">Select Team 1:--</label>
                                <select id="team1" name="team1">
                                  <option value="0">select team 1</option>
                                  <option value="Chennai Super Kings">Chennai Super Kings</option>
                                  <option value="Delhi Capitals">Delhi Capitals</option>
                                  <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                                  <option value="Mumbai Indians">Mumbai Indians</option>
                                  <option value="Kings XI Punjab">Kings XI Punjab</option>
                                  <option value="Rajasthan Royals">Rajasthan Royals</option>
                                  <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                                  <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                                </select>
                                <label for="team2">Select Team 2:--</label>
                                <select id="team2" name="team2">
                                  <option value="0">select team 2</option>
                                  <option value="Chennai Super Kings">Chennai Super Kings</option>
                                  <option value="Delhi Capitals">Delhi Capitals</option>
                                  <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                                  <option value="Mumbai Indians">Mumbai Indians</option>
                                  <option value="Kings XI Punjab">Kings XI Punjab</option>
                                  <option value="Rajasthan Royals">Rajasthan Royals</option>
                                  <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                                  <option value="Sunrisers Hyderabad">Sunrisers Hyderabad</option>
                                </select>
                                <label for="venue">Venue:--</label>
                                <select id="venue" name="venue">
                                  <option value="0">select vanue</option>
                                  <option value="Bangalore">Bangalore</option>
                                  <option value="Kochi">Kochi</option>
                                  <option value="Chennai">Chennai</option>
                                  <option value="Centurion">Centurion</option>
                                  <option value="Ranchi">Ranchi</option>
                                  <option value="Mumbai">Mumbai</option>
                                  <option value="Ahmedabad">Ahmedabad</option>
                                  <option value="Durban">Durban</option>
                                  <option value="Kolkata">Kolkata</option>
                                  <option value="Cape Town">Cape Town</option>
                                  <option value="Dharamsala">Dharamsala</option>
                                  <option value="Sharjah">Sharjah</option>
                                  <option value="Johannesburg">Johannesburg</option>
                                  <option value="Kimberley">Kimberley</option>
                                  <option value="Pune">Pune</option>
                                  <option value="Delhi">Delhi</option>
                                  <option value="Raipur">Raipur</option>
                                  <option value="Chandigarh">Chandigarh</option>
                                  <option value="Nagpur">Nagpur</option>
                                  <option value="Abu Dhabi">Abu Dhabi</option>
                                  <option value="Bloemfontein">Bloemfontein</option>
                                  <option value="Kanpur">Kanpur</option>
                                  <option value="Hyderabad">Hyderabad</option>
                                  <option value="Rajkot">Rajkot</option>
                                  <option value="Port Elizabeth">Port Elizabeth</option>
                                  <option value="Dubai">Dubai</option>
                                  <option value="Indore">Indore</option>
                                  <option value="Cuttack">Cuttack</option>
                                  <option value="East London">East London</option>
                                  <option value="Jaipur">Jaipur</option>
                                  <option value="Visakhapatnam">Visakhapatnam</option>

                                </select>
                                <input type="submit" value="Submit">
                              </form>
						</div>
						<div class="hero-figure anime-element">
							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								<rect width="528" height="396" style="fill:transparent;" />
							</svg>
							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						</div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- <script src="dist/js/main.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
