<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOOL</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <!-- <link rel="stylesheet" href="dist/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <!-- <img class="header-logo-image" src="dist/images/logo.svg" alt="Logo"> -->
                                <img src="{{url_for('static',filename = 'images/logo.svg')}}" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <table style="width:50%; margin-left: 25%;">
                <tr>
                    <th>Total Matches</th>
                    <td>{{total_matches}}</td>
                </tr>
                <tr>
                    <th>Head to Head wins</th>
                    <td>{% for table in tables1 %}
                        {{titles1[loop.index]}}
                        {{ table|safe }}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <th>Key Players</th>
                    <td><td>{% for table in tables2 %}
                        {{titles2[loop.index]}}
                        {{ table|safe }}
                        {% endfor %}</td></td>
                </tr>
                <tr>
                    <th>Toss Match Win Count</th>
                    <td>{{toss_match_win_count}}</td>
                </tr>
                <tr>
                    <th>Toss Match Win Decision</th>
                    <td>{% for table in tables3 %}
                        {{titles3[loop.index]}}
                        {{ table|safe }}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <th>Match Win Decision</th>
                    <td>{% for table in tables4 %}
                        {{titles4[loop.index]}}
                        {{ table|safe }}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <th>Run Rate</th>
                    <td>{{runrate}}</td>
                </tr>
            </table>
        </main>
    </div>

    <!-- <script src="dist/js/main.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>